<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NEWS</title>
    <link rel="stylesheet" href="../../index.css" />
    <link rel="stylesheet" href="./tintuc.css" />
    <link rel="icon" href="../../assets/ice.icon.png" type="image/x-icon" />
  </head>
  <body>
    <header>
      <div class="container-icon">
        <img src="../../assets/logo.jpg" width="10%" height="10%" />
        <span class="right-icon">
          <img src="../../assets/yokurt.png " width="10%" height="10%"
        /></span>
      </div>

      <nav>
        <ul class="container-nav">
          <li class="element">
            <a href="../../index.html" target="" title=""> Trang chủ </a>
          </li>
          <li class="element">
            <a href="../introduce/gioithieu.html" target="" title="">
              Giới thiệu
            </a>
          </li>
          <li class="element">
            <a href="../products/sanpham.html" target="" title=""> Sản phẩm </a>
          </li>
          <li class="element">
            <a href="../news/tintuc.html" target="" title=""> Tin tức </a>
          </li>
          <li class="element">
            <a href="../login/dangnhap.html" target="" title=""> Đăng nhập </a>
          </li>
          <li class="element">
            <a href="../register/dangki.html" target="" title=""> Đăng kí </a>
          </li>
          <li class="element">
            <a href="../contact/lienhe.html" target="" title=""> Liên hệ </a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>TIN TUC</h1>
      <article>
        <h2>CONG DUNG DAC BIET TU MANGO...!</h2>
        <div class="checksize">
          <img src="../../assets/mango.jpg" />
          <p>
            Sữa chua là một trong những thực phẩm lên men tốt cho hệ tiêu hóa.
            Sữa chua cung cấp cho cơ thể một lượng lớn lợi khuẩn có tác dụng
            thúc đẩy tiêu hóa, bảo vệ đường ruột, tăng sức đề kháng. Những người
            bị đầy hơi, no lâu hoặc táo bón thích hợp thường xuyên sử dụng sữa
            chua. Sữa thực vật là một loại thức uống không phải là sữa được sản
            xuất từ chiết xuất thực vật để tạo mùi hương và mùi vị. Sữa thực vật
            được tiêu thụ như một dạng thay thế cho sữa từ động vật, và thêm vào
            một lựa chọn thức uống thuần chay với cảm nhận béo ngậy cho vị
            giác.<a
              href="https://www.facebook.com/photo.php?fbid=542817687200034&id=109073607241113&set=a.109823010499506"
              >Xem chi tiet.</a
            >
          </p>
        </div>

        <div class="checksize">
          <h2>SUA HAT LA MOT THUC UONG BO SUNG NHIU KEM CHO BAN..?</h2>
          <img src="../../assets/suahat.jpg" />
          <p>
            Sữa chua là một trong những thực phẩm lên men tốt cho hệ tiêu hóa.
            Sữa chua cung cấp cho cơ thể một lượng lớn lợi khuẩn có tác dụng
            thúc đẩy tiêu hóa, bảo vệ đường ruột, tăng sức đề kháng. Những người
            bị đầy hơi, no lâu hoặc táo bón thích hợp thường xuyên sử dụng sữa
            chua. Sữa thực vật là một loại thức uống không phải là sữa được sản
            xuất từ chiết xuất thực vật để tạo mùi hương và mùi vị. Sữa thực vật
            được tiêu thụ như một dạng thay thế cho sữa từ động vật, và thêm vào
            một lựa chọn thức uống thuần chay với cảm nhận béo ngậy cho vị
            giác.<a
              href="https://www.facebook.com/photo.php?fbid=542817687200034&id=109073607241113&set=a.109823010499506"
              >Xem chi tiet.</a
            >
          </p>
        </div>

        <div class="checksize">
          <h2>RA MAT AP MOI BAN SUA CHUA TOT FOR U..?</h2>
          <img src="../../assets/;ap.jpg" />
          <p>
            Sữa chua là một trong những thực phẩm lên men tốt cho hệ tiêu hóa.
            Sữa chua cung cấp cho cơ thể một lượng lớn lợi khuẩn có tác dụng
            thúc đẩy tiêu hóa, bảo vệ đường ruột, tăng sức đề kháng. Những người
            bị đầy hơi, no lâu hoặc táo bón thích hợp thường xuyên sử dụng sữa
            chua. Sữa thực vật là một loại thức uống không phải là sữa được sản
            xuất từ chiết xuất thực vật để tạo mùi hương và mùi vị. Sữa thực vật
            được tiêu thụ như một dạng thay thế cho sữa từ động vật, và thêm vào
            một lựa chọn thức uống thuần chay với cảm nhận béo ngậy cho vị
            giác.<a
              href="https://www.facebook.com/photo.php?fbid=542817687200034&id=109073607241113&set=a.109823010499506"
              >Xem chi tiet.</a
            >
          </p>
        </div>

        <div class="checksize">
          <h2>SUA CHUA CO NHIU CONG DUNG CHO SUC KHOE..?</h2>
          <img src="./assets/bansuacha.jpg" />
          <p>
            Sữa chua là một trong những thực phẩm lên men tốt cho hệ tiêu hóa.
            Sữa chua cung cấp cho cơ thể một lượng lớn lợi khuẩn có tác dụng
            thúc đẩy tiêu hóa, bảo vệ đường ruột, tăng sức đề kháng. Những người
            bị đầy hơi, no lâu hoặc táo bón thích hợp thường xuyên sử dụng sữa
            chua. Sữa thực vật là một loại thức uống không phải là sữa được sản
            xuất từ chiết xuất thực vật để tạo mùi hương và mùi vị. Sữa thực vật
            được tiêu thụ như một dạng thay thế cho sữa từ động vật, và thêm vào
            một lựa chọn thức uống thuần chay với cảm nhận béo ngậy cho vị
            giác.<a
              href="https://www.facebook.com/photo.php?fbid=542817687200034&id=109073607241113&set=a.109823010499506"
              >Xem chi tiet.</a
            >
          </p>
        </div>

        <div class="checksize">
          <h2>SUA CHU KIWI LA SAN PHAM MOI CHO BAN..?</h2>
          <img src="../../assets/kiwi.jpg" />
          <p>
            Sữa chua là một trong những thực phẩm lên men tốt cho hệ tiêu hóa.
            Sữa chua cung cấp cho cơ thể một lượng lớn lợi khuẩn có tác dụng
            thúc đẩy tiêu hóa, bảo vệ đường ruột, tăng sức đề kháng. Những người
            bị đầy hơi, no lâu hoặc táo bón thích hợp thường xuyên sử dụng sữa
            chua. Sữa thực vật là một loại thức uống không phải là sữa được sản
            xuất từ chiết xuất thực vật để tạo mùi hương và mùi vị. Sữa thực vật
            được tiêu thụ như một dạng thay thế cho sữa từ động vật, và thêm vào
            một lựa chọn thức uống thuần chay với cảm nhận béo ngậy cho vị
            giác.<a
              href="https://www.facebook.com/photo.php?fbid=542817687200034&id=109073607241113&set=a.109823010499506"
              >Xem chi tiet.</a
            >
          </p>
        </div>

        <div class="checksize">
          <h2>THAP SANG TRI THUC CUA TRE EM..?</h2>
          <img src="../../assets/light.png" />
          <p>
            Sữa chua là một trong những thực phẩm lên men tốt cho hệ tiêu hóa.
            Sữa chua cung cấp cho cơ thể một lượng lớn lợi khuẩn có tác dụng
            thúc đẩy tiêu hóa, bảo vệ đường ruột, tăng sức đề kháng. Những người
            bị đầy hơi, no lâu hoặc táo bón thích hợp thường xuyên sử dụng sữa
            chua. Sữa thực vật là một loại thức uống không phải là sữa được sản
            xuất từ chiết xuất thực vật để tạo mùi hương và mùi vị. Sữa thực vật
            được tiêu thụ như một dạng thay thế cho sữa từ động vật, và thêm vào
            một lựa chọn thức uống thuần chay với cảm nhận béo ngậy cho vị
            giác.<a
              href="https://www.facebook.com/photo.php?fbid=542817687200034&id=109073607241113&set=a.109823010499506"
              >Xem chi tiet.</a
            >
          </p>
        </div>

        <aside>
          <h2>DUOC QUAN TAM</h2>
          <img src="../../assets/grand.jpg" width="600" />
          <p>
            Sữa chua là một trong những thực phẩm lên men tốt cho hệ tiêu hóa.
            Sữa chua cung cấp cho cơ thể một lượng lớn lợi khuẩn có tác dụng
            thúc đẩy tiêu hóa, bảo vệ đường ruột, tăng sức đề kháng. Những người
            bị đầy hơi, no lâu hoặc táo bón thích hợp thường xuyên sử dụng sữa
            chua. Sữa thực vật là một loại thức uống không phải là sữa được sản
            xuất từ chiết xuất thực vật để tạo mùi hương và mùi vị. Sữa thực vật
            được tiêu thụ như một dạng thay thế cho sữa từ động vật, và thêm vào
            một lựa chọn thức uống thuần chay với cảm nhận béo ngậy cho vị
            giác.<a
              href="https://www.facebook.com/photo.php?fbid=542817687200034&id=109073607241113&set=a.109823010499506"
              >Xem chi tiet.</a
            >
          </p>
        </aside>
      </article>
    </main>

    <footer>
      <p>
        @2021 Bang quyen thuoc ve Freeze.
        <a
          href="https://www.facebook.com/recover/initiate/?lara_product=www_first_password_failure"
        >
          Facebook
        </a>
        <a href="https://x.com/?lang=vi"> X </a>
        <a href="https://www.tiktok.com/foryou?lang=vi-VN"> Tiktok </a>
        <a href="../../index.html">back home</a>
      </p>
    </footer>
  </body>
</html>
