<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOG-IN</title>
    <link rel="stylesheet" href="./dangnhap.css" />
    <link rel="stylesheet" href="../../index.css" />
    <link rel="icon" href="../../assets/ice.icon.png" type="image/x-icon" />
  </head>
  <body>
    <header>
      <div class="container-icon">
        <img src="../../assets/logo.jpg" width="10%" height="10%" />
        <span class="right-icon">
          <img src="../../assets/yokurt.png " width="10%" height="10%"
        /></span>
      </div>

      <nav>
        <ul class="container-nav">
          <li class="element">
            <a href="../../index.html" target="" title=""> Trang chủ </a>
          </li>
          <li class="element">
            <a href="../introduce/gioithieu.html" target="" title="">
              Giới thiệu
            </a>
          </li>
          <li class="element">
            <a href="../products/sanpham.html" target="" title=""> Sản phẩm </a>
          </li>
          <li class="element">
            <a href="../news/tintuc.html" target="" title=""> Tin tức </a>
          </li>
          <li class="element">
            <a href="../login/dangnhap.html" target="" title=""> Đăng nhập </a>
          </li>
          <li class="element">
            <a href="../register/dangki.html" target="" title=""> Đăng kí </a>
          </li>
          <li class="element">
            <a href="../contact/lienhe.html" target="" title=""> Liên hệ </a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <fieldset>
        <legend>LOG-IN</legend>
        <form
          action="/login"
          method="post"
          enctype="application/x-www-form-urlencoded"
        >
          <table>
            <div class="log-in">
              <img src="../../assets/login.jpg" alt="" />
            </div>
            <tr>
              <td><label for="email">Email:</label></td>
              <td>
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Enter your email..."
                />
              </td>
            </tr>

            <tr>
              <td><label for="pass">Password:</label></td>
              <td>
                <input
                  type="password"
                  id="password"
                  name="password"
                  placeholder="Enter your password..."
                />
              </td>
            </tr>

            <tr>
              <td colspan="2" style="text-align: center">
                <input type="button" value="Log-in" />
                <input type="reset" value="Cancle" />
              </td>
            </tr>

            <tr>
              <td colspan="2">
                <label for="remember"
                  >You forgot <a href="#">password</a>
                  <input type="checkbox" name="remember" /> for login
                  later</label
                >
              </td>
            </tr>
          </table>
        </form>
      </fieldset>
    </main>

    <footer>
      <p>
        @2021 Bang quyen thuoc ve Freeze.
        <a
          href="https://www.facebook.com/recover/initiate/?lara_product=www_first_password_failure"
        >
          Facebook
        </a>
        <a href="https://x.com/?lang=vi"> X </a>
        <a href="https://www.tiktok.com/foryou?lang=vi-VN"> Tiktok </a>
        <a href="../../index.html">back home</a>
      </p>
    </footer>
  </body>
</html>
