<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <link rel="stylesheet" href="../../index.css" />
    <link rel="stylesheet" href="./sanpham.css" />
    <link rel="icon" href="../../assets/ice.icon.png" type="image/x-icon" />
  </head>
  <body>
    <header>
      <div class="container-icon">
        <img src="../../assets/logo.jpg" width="10%" height="10%" />
        <span class="right-icon">
          <img src="../../assets/yokurt.png " width="10%" height="10%"
        /></span>
      </div>

      <nav>
        <ul class="container-nav">
          <li class="element">
            <a href="../../index.html" target="" title=""> Trang chủ </a>
          </li>
          <li class="element">
            <a href="../introduce/gioithieu.html" target="" title="">
              Giới thiệu
            </a>
          </li>
          <li class="element">
            <a href="../products/sanpham.html" target="" title=""> Sản phẩm </a>
          </li>
          <li class="element">
            <a href="../news/tintuc.html" target="" title=""> Tin tức </a>
          </li>
          <li class="element">
            <a href="../login/dangnhap.html" target="" title=""> Đăng nhập </a>
          </li>
          <li class="element">
            <a href="../register/dangki.html" target="" title=""> Đăng kí </a>
          </li>
          <li class="element">
            <a href="../contact/lienhe.html" target="" title=""> Liên hệ </a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h1 style="color: brown">TRADITIIONAL PRODUCTS</h1>
      <section>
        <img src="../../assets/cup.jpg" alt="" />
        <h2>Sua chua vi kem</h2>
        <div>
          <p>
            Sữa chua chứa hầu hết mọi chất dinh dưỡng mà cơ thể cần để duy trì
            sự sống và phát triển. Sữa nói chung và các sản phẩm từ sữa nói
            riêng mà đặc biệt là sữa chua chứa nhiều canxi, một khoáng chất cần
            thiết cho sức khỏe của xương và răng miệng. Chỉ một cốc sữa chua
            cũng có thể cung cấp đến 49% nhu cầu canxi hàng ngày của cơ thể. Nó
            cũng chứa nhiều vitamin nhóm B, đặc biệt là vitamin B12 và
            riboflavin.
            <a
              href="https://www.vinmec.com/vie/bai-viet/sua-chua-co-tac-dung-gi-vi"
              >Xem chi tiet.</a
            >

            <span
              >So luong: <input type="number" max="100" min="0" />
              <button style="background-color: aquamarine">
                Dat hang
              </button></span
            >
          </p>
        </div>
      </section>

      <section>
        <img src="../../assets/dau.jpg" alt="" />
        <h2>Sua chua vi dua</h2>
        <div>
          <p>
            Sữa chua chứa hầu hết mọi chất dinh dưỡng mà cơ thể cần để duy trì
            sự sống và phát triển. Sữa nói chung và các sản phẩm từ sữa nói
            riêng mà đặc biệt là sữa chua chứa nhiều canxi, một khoáng chất cần
            thiết cho sức khỏe của xương và răng miệng. Chỉ một cốc sữa chua
            cũng có thể cung cấp đến 49% nhu cầu canxi hàng ngày của cơ thể. Nó
            cũng chứa nhiều vitamin nhóm B, đặc biệt là vitamin B12 và
            riboflavin.
            <a
              href="https://www.vinmec.com/vie/bai-viet/sua-chua-co-tac-dung-gi-vi"
              >Xem chi tiet.</a
            >
            <span
              >So luong: <input type="number" max="100" min="0" />
              <button style="background-color: aquamarine">
                Dat hang
              </button></span
            >
          </p>
        </div>
      </section>

      <section>
        <img src="../../assets/hii.jpg" alt="" />
        <h2>Sua chua vi dau</h2>
        <div>
          <p>
            Sữa chua chứa hầu hết mọi chất dinh dưỡng mà cơ thể cần để duy trì
            sự sống và phát triển. Sữa nói chung và các sản phẩm từ sữa nói
            riêng mà đặc biệt là sữa chua chứa nhiều canxi, một khoáng chất cần
            thiết cho sức khỏe của xương và răng miệng. Chỉ một cốc sữa chua
            cũng có thể cung cấp đến 49% nhu cầu canxi hàng ngày của cơ thể. Nó
            cũng chứa nhiều vitamin nhóm B, đặc biệt là vitamin B12 và
            riboflavin.
            <a
              href="https://www.vinmec.com/vie/bai-viet/sua-chua-co-tac-dung-gi-vi"
              >Xem chi tiet.</a
            >
            <span
              >So luong: <input type="number" max="100" min="0" />
              <button style="background-color: aquamarine">
                Dat hang
              </button></span
            >
          </p>
        </div>
      </section>

      <section>
        <img src="../../assets/mamxoi.jpg" alt="" />
        <h2>Sua chua vi cuc mam xoi</h2>
        <div>
          <p>
            Sữa chua chứa hầu hết mọi chất dinh dưỡng mà cơ thể cần để duy trì
            sự sống và phát triển. Sữa nói chung và các sản phẩm từ sữa nói
            riêng mà đặc biệt là sữa chua chứa nhiều canxi, một khoáng chất cần
            thiết cho sức khỏe của xương và răng miệng. Chỉ một cốc sữa chua
            cũng có thể cung cấp đến 49% nhu cầu canxi hàng ngày của cơ thể. Nó
            cũng chứa nhiều vitamin nhóm B, đặc biệt là vitamin B12 và
            riboflavin.
            <a
              href="https://www.vinmec.com/vie/bai-viet/sua-chua-co-tac-dung-gi-vi"
              >Xem chi tiet.</a
            >
            <span
              >So luong: <input type="number" max="100" min="0" />
              <button style="background-color: aquamarine">
                Dat hang
              </button></span
            >
          </p>
        </div>
      </section>

      <section>
        <img src="../../assets/pun.jpg" alt="" />
        <h2>Sua chua vi sua</h2>
        <div>
          <p>
            Sữa chua chứa hầu hết mọi chất dinh dưỡng mà cơ thể cần để duy trì
            sự sống và phát triển. Sữa nói chung và các sản phẩm từ sữa nói
            riêng mà đặc biệt là sữa chua chứa nhiều canxi, một khoáng chất cần
            thiết cho sức khỏe của xương và răng miệng. Chỉ một cốc sữa chua
            cũng có thể cung cấp đến 49% nhu cầu canxi hàng ngày của cơ thể. Nó
            cũng chứa nhiều vitamin nhóm B, đặc biệt là vitamin B12 và
            riboflavin.
            <a
              href="https://www.vinmec.com/vie/bai-viet/sua-chua-co-tac-dung-gi-vi"
              >Xem chi tiet.</a
            >
            <span
              >So luong: <input type="number" max="100" min="0" />
              <button style="background-color: aquamarine">
                Dat hang
              </button></span
            >
          </p>
        </div>
      </section>

      <section>
        <img
          src="../../assets/sua.jpg"
          style="object-fit: contain; width: 240; height: 200"
        />
        <h2>Sua chua vi chocolate</h2>
        <div>
          <p>
            Sữa chua chứa hầu hết mọi chất dinh dưỡng mà cơ thể cần để duy trì
            sự sống và phát triển. Sữa nói chung và các sản phẩm từ sữa nói
            riêng mà đặc biệt là sữa chua chứa nhiều canxi, một khoáng chất cần
            thiết cho sức khỏe của xương và răng miệng. Chỉ một cốc sữa chua
            cũng có thể cung cấp đến 49% nhu cầu canxi hàng ngày của cơ thể. Nó
            cũng chứa nhiều vitamin nhóm B, đặc biệt là vitamin B12 và
            riboflavin.
            <a
              href="https://www.vinmec.com/vie/bai-viet/sua-chua-co-tac-dung-gi-vi"
              >Xem chi tiet.</a
            >
            <span
              >So luong: <input type="number" max="100" min="0" />
              <button style="background-color: aquamarine">
                Dat hang
              </button></span
            >
          </p>
        </div>
      </section>

      <section>
        <img src="../../assets/tem.jpg" alt="" />
        <h2>Sua chua vi ca</h2>
        <div>
          <p>
            Sữa chua chứa hầu hết mọi chất dinh dưỡng mà cơ thể cần để duy trì
            sự sống và phát triển. Sữa nói chung và các sản phẩm từ sữa nói
            riêng mà đặc biệt là sữa chua chứa nhiều canxi, một khoáng chất cần
            thiết cho sức khỏe của xương và răng miệng. Chỉ một cốc sữa chua
            cũng có thể cung cấp đến 49% nhu cầu canxi hàng ngày của cơ thể. Nó
            cũng chứa nhiều vitamin nhóm B, đặc biệt là vitamin B12 và
            riboflavin.
            <a
              href="https://www.vinmec.com/vie/bai-viet/sua-chua-co-tac-dung-gi-vi"
              >Xem chi tiet.</a
            >
            <span
              >So luong: <input type="number" max="100" min="0" />
              <button style="background-color: aquamarine">
                Dat hang
              </button></span
            >
          </p>
        </div>
      </section>

      <section>
        <img src="../../assets/tra.jpg" alt="" />
        <h2>Sua chua vi bo</h2>
        <div>
          <p>
            Sữa chua chứa hầu hết mọi chất dinh dưỡng mà cơ thể cần để duy trì
            sự sống và phát triển. Sữa nói chung và các sản phẩm từ sữa nói
            riêng mà đặc biệt là sữa chua chứa nhiều canxi, một khoáng chất cần
            thiết cho sức khỏe của xương và răng miệng. Chỉ một cốc sữa chua
            cũng có thể cung cấp đến 49% nhu cầu canxi hàng ngày của cơ thể. Nó
            cũng chứa nhiều vitamin nhóm B, đặc biệt là vitamin B12 và
            riboflavin.
            <a
              href="https://www.vinmec.com/vie/bai-viet/sua-chua-co-tac-dung-gi-vi"
              >Xem chi tiet.</a
            >
            <span
              >So luong: <input type="number" max="100" min="0" />
              <button style="background-color: aquamarine">
                Dat hang
              </button></span
            >
          </p>
        </div>
      </section>
    </main>

    <footer>
      <p>
        @2021 Bang quyen thuoc ve Freeze.
        <a
          href="https://www.facebook.com/recover/initiate/?lara_product=www_first_password_failure"
        >
          Facebook
        </a>
        <a href="https://x.com/?lang=vi"> X </a>
        <a href="https://www.tiktok.com/foryou?lang=vi-VN"> Tiktok </a>
      </p>
    </footer>
  </body>
</html>
