<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CONTACT</title>
    <link rel="stylesheet" href="./lienhe.css" />
    <link rel="stylesheet" href="../../index.css" />
    <link rel="icon" href="../../assets/ice.icon.png" type="image/x-icon" />
  </head>
  <body>
    <header>
      <div class="container-icon">
        <img src="../../assets/logo.jpg" width="10%" height="10%" />
        <span class="right-icon">
          <img src="../../assets/yokurt.png " width="10%" height="10%"
        /></span>
      </div>

      <nav>
        <ul class="container-nav">
          <li class="element">
            <a href="../../index.html" target="" title=""> Trang chủ </a>
          </li>
          <li class="element">
            <a href="../introduce/gioithieu.html" target="" title="">
              Giới thiệu
            </a>
          </li>
          <li class="element">
            <a href="../products/sanpham.html" target="" title=""> Sản phẩm </a>
          </li>
          <li class="element">
            <a href="../news/tintuc.html" target="" title=""> Tin tức </a>
          </li>
          <li class="element">
            <a href="../login/dangnhap.html" target="" title=""> Đăng nhập </a>
          </li>
          <li class="element">
            <a href="../register/dangki.html" target="" title=""> Đăng kí </a>
          </li>
          <li class="element">
            <a href="../contact/lienhe.html" target="" title=""> Liên hệ </a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>CONTACT</h1>
      <div class="location">
        <img src="../../assets/daichi.jpg" alt="" />
      </div>
      <h1>DIA CHI: 30/4, Ngoc Ngoc Cafe, play together</h1>
      <p>
        Neu ban co van de gi thi xin hay lien he voi chung toi de chung ta co
        giai phap tot nhat de giai quyet cung nhau.
      </p>
      <p>Xin cam on.</p>

      <form method="post" enctype="application/x-www-form-urlencoded">
        <fieldset>
          <legend>Feedback</legend>
          <table>
            <tr>
              <td><label for="name">Ho ten:</label></td>
              <td>
                <input
                  type="text"
                  name="name"
                  id="name"
                  placeholder="Vui long nhap ho va ten..."
                />
              </td>
            </tr>

            <tr>
              <td><label for="email">Email:</label></td>
              <td>
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="Vui long nhap email cua ban..."
                />
              </td>
            </tr>

            <tr>
              <td><label for="topic">Chu de: </label></td>
              <td>
                <select name="" id="" size="1">
                  <option value="1">Ve san pham dich vu</option>
                  <option value="2">Ve ua dai thanh vien</option>
                  <option value="3">Ve tuyen dung</option>
                  <option value="4">Ve cong viec nhan vien</option>
                </select>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <textarea
                  name=""
                  id=""
                  cols="50"
                  rows="7"
                  placeholder="Noi dung can feedback "
                ></textarea>
              </td>
            </tr>

            <tr>
              <td colspan="2" style="text-align: center">
                <input type="submit" value="Send" />
              </td>
            </tr>
          </table>
        </fieldset>
      </form>
    </main>

    <footer>
      <p>
        @2021 Bang quyen thuoc ve Freeze.
        <a
          href="https://www.facebook.com/recover/initiate/?lara_product=www_first_password_failure"
        >
          Facebook
        </a>
        <a href="https://x.com/?lang=vi"> X </a>
        <a href="https://www.tiktok.com/foryou?lang=vi-VN"> Tiktok </a>
        <a href="./index.html">back home</a>
      </p>
    </footer>
  </body>
</html>
